<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>TOC</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="../link/link.css">
<link rel="stylesheet" href="../list/list.css">
<link rel="stylesheet" href="toc.css">
</head>
<body>

<nav class="dads-toc" aria-labelledby="toc-nested-heading">
  <h2 id="toc-nested-heading" class="dads-toc__heading">このページの目次</h2>
  <ul class="dads-list" data-spacing="8">
    <li>
      <a class="dads-link" href="#">仕様</a>
      <ul class="dads-list" data-spacing="8">
        <li><a class="dads-link" href="#">ボタンのサイズ（最小サイズの目安）</a></li>
        <li><a class="dads-link" href="#">ボタンの幅</a></li>
        <li><a class="dads-link" href="#">ボタンのターゲット領域</a></li>
      </ul>
    </li>
    <li>
      <a class="dads-link" href="#">使い方</a>
      <ul class="dads-list" data-spacing="8">
        <li>
          <a class="dads-link" href="#">ボタンの重要度に合わせたスタイルの使用</a>
          <ul class="dads-list" data-spacing="8">
            <li><a class="dads-link" href="#">ボタンの視覚的階層例</a></li>
            <li><a class="dads-link" href="#">アウトラインボタンの視覚的階層例</a></li>
            <li><a class="dads-link" href="#">効果的な使用方法</a></li>
          </ul>
        </li>
        <li><a class="dads-link" href="#">ボタン配置の考え方</a></li>
        <li><a class="dads-link" href="#">ボタンの配置と順序</a></li>
        <li><a class="dads-link" href="#">ボタンの無効化（disabled）における注意点</a></li>
      </ul>
    </li>
    <li><a class="dads-link" href="#">各種リソース</a></li>
  </ul>
</nav>

</body>
</html>
