<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>TOC</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="../link/link.css">
<link rel="stylesheet" href="../list/list.css">
<link rel="stylesheet" href="toc.css">
</head>
<body>

<nav class="dads-toc" aria-labelledby="toc-heading">
  <h2 id="toc-heading" class="dads-toc__heading">このページの目次</h2>
  <ul class="dads-list" data-spacing="8">
    <li><a class="dads-link" href="#">コントラスト要件</a></li>
    <li><a class="dads-link" href="#">ボタンの重要度を色の違いのみで区別しない</a></li>
    <li><a class="dads-link" href="#">無効ボタン（disabled）はタブフォーカスでアクセスできない</a></li>
    <li><a class="dads-link" href="#">ページ遷移をもたらすボタンのhover時に指のカーソル（pointer）に変更する</a></li>
    <li><a class="dads-link" href="#">ラベルがアイコンだけのボタンに代替テキストを必ず指定する</a></li>
    <li><a class="dads-link" href="#">ボタンのフォーカス順序と表示順序に気をつける</a></li>
    <li><a class="dads-link" href="#">ターゲットサイズの確保</a></li>
  </ul>
</nav>

</body>
</html>
